<html>
    <head>
    <title>Django Girls blog</title>
    </head>
    <body>
    <div>
   <h1><a href=""> Rui Rafael Rosillas's Blog</a></h1>
   </div>
   <div>
   <p>published: 12/14/2015, 16:44</p>
   <h2><a href="">My first post</a></h2>
    <p>Hi, I'm Halfway through the Tutorials Congratulation to myself.</p>
    </div>
     <div>
     <p>published: 12/14/2015, 16:47</p>
     <h2><a href="">My second post</a></h2>
     <p>Almost there just a little more.....</p>
     </div>
                                                                                                                                                                        </body>
                                                                                                                                                                        </html>
